.icon{
    font-size: 80px;
    margin-top: 0px;
    width: 180px;
    height: auto;
    display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: auto; 
}
h1{
  color: black ;
    margin-top: 0;
    margin-bottom: -20px;
    font-family: campana;
    font-size: 60px;
}
