<div class="contenedor">
  <div class="elemento" (click)="reproducirSonido(srcImagen1)">
    <img [src]="srcImagen1+ '.png'" class="imagen">
  </div>

  <div class="elemento" (click)="reproducirSonido(srcImagen2)">
    <img [src]="srcImagen2 + '.png'" class="imagen">
  </div>

  <div class="elemento" (click)="reproducirSonido(srcImagen3)">
    <img [src]="srcImagen3+ '.png'" class="imagen">
  </div>

  <div class="elemento" (click)="reproducirSonido(srcImagen4)">
    <img [src]="srcImagen4+ '.png'" class="imagen">
  </div>

  <div class="elemento" (click)="reproducirSonido(srcImagen5)">
    <img [src]="srcImagen5+ '.png'" class="imagen">
  </div>

  <div class="elemento" (click)="reproducirSonido(srcImagen6)">
    <img [src]="srcImagen6+ '.png'" class="imagen">
  </div>
</div>